*{
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    font-weight: 200;
}
body{
    background: #BDE9C9;
    background: #E4E6E8;
    background: rgba(145, 220, 232, 0.05);
    text-align: center;
    overflow: auto;
}
div{
    display: inline-block;
}
header{
    padding-top: 2%;
    padding-bottom: 2%;
    background: #55C4CB;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    height: 70px;
    width: 100vw;
    vertical-align: middle;
}
header a { color: #FFFFFF; }
header h1, header h2 { vertical-align: middle; line-height: 70px; text-align: center; }
h1{
    text-transform: uppercase;
    text-align: center;
    color: #003459;
}
main{
    float: right;
    width: 82%;
    text-align: justify;
}
a{ text-decoration: none; }
figure { margin-left: 5px; line-height: 70%;}
nav{
    /*width: 12vw;*/
    width: 130px;
    height: 100vh;
    float: left;
    padding: 1%;
    text-transform: uppercase;
    font-weight: 100;
    background: rgba(145, 220, 232, 0.5);
}
nav a{
    /*color: #05A9C7;*/
    color: #007EA7; background: #FFFFFF;
    border: 0.5px solid #007EA7;
    border-radius: 5px;
    text-align: center;
    padding: 10% 1.5%;
    display: inline-block;
    width: 98%;
    margin: 0 auto;
    margin-bottom: 7%;
    white-space: nowrap;
}
nav a:hover{
    color: #FFFFFF; background: #98DBCE;
    border: 0.5px solid #E4E6E8;
}
.active{
    color: #FFFFFF; background: #00B7BD;
    border: 0.5px solid #E4E6E8;
}
.hdv{
    white-space: nowrap;
    vertical-align: middle;
    min-width: 100px;
    color: #FFF;
    display: inline-block;
}
.hdv:first-child{ width: 8%; min-width: 70px; max-width: 90px; float: left; margin-left: 5px; }
.hdv:last-child { width: 10%; min-width: 100px; margin-right: 5px; height: 70px; line-height: 70px; text-align: center; vertical-align: middle; }
.hdvm{
    white-space: nowrap;
    vertical-align: middle;
    width: 70%;
    /*color: #003459;*/
    background: none;
    display: inline-block;
}
.partLnk{
    color: #003459;
    border: 0.5px solid #E4E6E8;
    background: #A2E4B8;
    background: rgba(145, 220, 232, 1);
    text-align: center;
    font-size: 1.1em;
    padding: 1%;
    border-radius: 5px;
    width: 8%;
    width: 15vw;
    margin: 1%;
    display: inline-block;
    white-space: nowrap;
}
.partActive{
    color: #FFFFFF;
    border: 0.5px solid #E4E6E8;
    background: #05A9C7;
    text-align: center;
    font-size: 1.1em;
    padding: 1%;
    border-radius: 5px;
    width: 8%;
    width: 15vw;
    margin: 1%;
    display: inline-block;
    white-space: nowrap;
}
#partActive{
    color: #FFFFFF; background: #05A9C7;
}
button{
    font-size: 1.05em;
    padding: 0.5% 1% 0.5% 1%;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    color: #007EA7;
}
label{
    margin: 1% auto;
    display: inline-block;
}
.wht{
    filter: invert(99%) sepia(2%) saturate(1508%) hue-rotate(264deg) brightness(116%) contrast(100%);
}
.container {
  text-align: left;
  padding: 0%;
  margin: 0 auto;
}
.container input {
    text-align: center;
}
.smshow { display: none; }
@media screen and (max-width: 720px) {
    .hdv{
        font-size: 1em;
        width: 30%;
        max-width: 150px;
    }
    .hdvm{
        /*width: 50%;*/
        font-size: .5em;
        display: none;
    }
    nav { padding-right: 1.75%; width: 120px; }
    nav a { margin-top: 5%; }
    #clsnav{
        font-size: .5em;
        /*max-width: 20px;*/
        display: none;
    }
    h2{
        font-size: 1.25em;
    }
    .partLnk{
        font-size: .95em;
        width: 23vw;
    }
    .partActive{
        font-size: .95em;
        width: 23vw;
    }
    .smhide { display: none; }
    .smshow { display: inline-block; }
    button{
        font-size: .95em;
        width: 22vw;
    }
    p { text-align: justify; }
    figure { float: right; }
}