table{
    border: 1px solid #00859B;
    border-spacing: 0;
    width: 90vw;
    max-width: 400px;
    white-space: nowrap;
    margin: 0 auto;
}
table th{
    height: 30px;
    text-align: center;
    color: #FFF;
    background: #05A9C7;
    border: 0.25px solid #D9D9D6;
    border: 0.25px solid rgba(217, 217, 214, 0.5);
}
table td{
    height: 30px;
    background: #D0D3D4;
    background: rgba(208, 211, 212, .25);
    border: 1px solid #FFF;
    text-align: right;
    width: 75px;
}
td:first-child { width: 100px; }
input{
    text-align: center;
    /*box-sizing: border-box;*/
}
@media screen and (max-width: 799px) {
    /*table { width: 300px; }
    td{ width: 75px; }
    td:first-child{ width: 125px; }*/
    header { width: 115vw; }
}